.upload-modal {
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid white;
  color: white;
  height: 3em;
  width: 20%;
}

.show-pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: not-allowed;
}